.wrapper {
	margin: 0 0 200px;

	h2 {
		text-align: center;
		color: #5e2f22;
	}

	p {
		text-align: center;
	}

	.whirligig_projects {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;

		.project_item {
			position: relative;
			margin-top: 80px;
			padding: 20px;
			border: 2px solid #000000;
			box-shadow: 5px 4px 0px 2px #000000;
			border-radius: 12px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			max-width: 350px;
			height: 600px;

			.img_item_1,
			.img_item_2,
			.img_item_3,
			.img_item_4,
			.img_item_5,
			.img_item_6,
			.img_item_7 {
				width: 320px;
				background-size: contain;
				background-repeat: no-repeat;
				border-radius: 12px;
			}

			.img_item_1 {
				background-image: url(${img1});
			}

			.img_item_2 {
				background-image: url(${img2});
			}

			.img_item_3 {
				background-image: url(${img3});
			}

			.img_item_4 {
				background-image: url(${img4});
			}

			.img_item_5 {
				background-image: url(${img5});
			}

			.img_item_6 {
				background-image: url(${img6});
			}

			.img_item_7 {
				background-image: url(${img7});
			}

			.environment {
				display: flex;
				flex-wrap: wrap;
				gap: 6px;

				.env_item {
					padding: 5px 9px;
					background: #939393;
					border-radius: 10px;

					& p {
						font-size: 16px;
					}
				}
			}

			.name_item {
				font: 600 18px Montserrat;
				line-height: 22.63px;
				text-align: left;
				color: #000000;
			}

			.view {
				position: absolute;
				bottom: 10px;
				left: 0;
				right: 0;
				text-align: center;
				color: #5e2f22;
				text-decoration: none;
			}

			.view:hover {
				text-decoration: underline;
			}
		}
	}

	.button_container {
		display: flex;
		justify-content: center;
		margin: 20px 0; 
		gap: 10px;
	}

	button {
		border: 1px solid #000000;
		box-shadow: 4px 3px 0px 1px #000000;
		background: #5e2f22;
		color: #fefefe;
		border-radius: 15px;
		padding: 5px 15px;
		font: 600 14px Montserrat;
	}

		.button:hover {
		background-color: #943922; 
	}
}

@media screen and (max-width: 800px) {
	.wrapper {
		& h1 {
			font-size: 70px;
		}

		& h2 {
			font-size: 44px;
		}

		& p {
			font-size: 18px;
		}
	}
}
