.wrapper {
	margin: 100px 5px;

	.visit_card {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		gap: 30px;

		.about_me {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 629px;

			h1 {
				font: 800 88px Montserrat;
				color: #8a4802;
			}
		}

		img {
			background-image: url(${foto});
			width: 450px;
			height: 450px;
			background-size: contain;
			background-repeat: no-repeat;
			border-radius: 250px;
			box-shadow: 5px 5px 5px 5px #0000004d;
		}
	}

	.skills {
		display: flex;
		margin-top: 100px;

		.roles {
			width: 100%;
			display: flex;
			/* gap: 70px; */
			flex-wrap: wrap;
			justify-content: space-between;

			.roles_item {
				display: flex;
				gap: 15px;

				.icon_1,
				.icon_2,
				.icon_3 {
					width: 30px;
					height: 30px;
					background-size: contain;
					background-repeat: no-repeat;
				}

				.icon_1 {
					background-image: url('./assets/icon1.svg');
				}

				.icon_2 {
					background-image: url('./assets/icon2.svg');
				}

				.icon_3 {
					background-image: url('./assets/icon3.svg');
				}

				h3 {
					font: 800 28px Montserrat;
					color: #8a4802;
				}

				.line {
					border: 1px solid #66666676;
				}

				.info_item {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}

				.info_item ul {
					list-style-type: square;
					margin-top: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.wrapper .visit_card {
		justify-content: center;
		gap: 20px;

		.about_me {
			text-align: center;
			gap: 20px;
		}

		img {
			width: 350px;
			height: 350px;
		}
	}

}

@media screen and (max-width: 800px) {
	.wrapper .visit_card .about_me {
		& h1 {
			font-size: 70px;
		}

		& p {
			font-size: 18px;
		}
	}
}



@media screen and (max-width: 800px) {
	.wrapper {
		& h1 {
			font-size: 70px;
		}

		& p {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 600px) {
	.skills .roles {
		gap: 50px;
	}
}

@media screen and (max-width: 520px) {
	.wrapper .visit_card .about_me {
		& h1 {
			font-size: 44px;
		}

	}
}
