.wrapper {
    margin: 300px 0 650px;

    .title {
        font-family: Poppins;
        font-size: 44px;
        font-weight: 800;
        text-align: center;
        color: #000000;
    }

    p {
        font-family: Poppins;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        color: #000000;
    }

    .exp_items {
        display: flex;
        gap: 67px;
        z-index: 10;
        position: relative;
        flex-wrap: wrap;

        .border_item {
            border: 1px solid #000000;
            background: #FFFFFF;
            border-radius: 15px;
            box-shadow: 4px 3px 0px 1px #000000;
            width: 375px;
            height: 264px;
            margin-top: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title_item {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                color: #000000;
            }

            .description_item {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 300;
                text-align: center;
                color: #000000;
            }

        }
    }

    .images {
        position: relative;

        .react {
            background-image: url('./assets/react2.svg');
            width: 491px;
            height: 436px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 1050px;
            top: -540px;
            z-index: 0;
        }

        .js {
            background-image: url('./assets/JS2.svg');
            width: 266px;
            height: 266px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 1150px;
            top: 65px;
        }

        .nextjs {
            background-image: url('./assets/nextjs2.svg');
            width: 461px;
            height: 452px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -400px;
            top: 190px;
        }
    }
}